html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e7;
}
.contenedor__main{
    width: 55%;
    height: 70vh;
    display: flex;
    background-color: white;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}
.contenedor__form{
    width: 50%;
    height: 100%;
    /* border: thin solid red; */
}
.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}
.form.inicioSesion{
    transition: transform 0.4s ease;
}
.form.registro{
    transition: transform 0.4s ease;
}
.form__titulo{
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bolder;
}
.form__inputs{
    /* border: thin solid; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form__inputs input{
    width: 70%;
    height: 30px;
    padding: 0.8rem;
    margin-bottom: 1.2rem;
    border: none;
    background-color: rgb(238, 238, 238);
}
.form button{
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    background-color: #26de6e;
    cursor: pointer;
}
.form button:hover{
    background-color: white;
    color: #26de6e;
    border: 1px solid #26de6e;
}

/* toast */
.toast {
    position: absolute;
    z-index: 999;
    top: 1rem;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    background-color: white;
}
.toast__info {
    margin-left: 1rem;
    font-size: 1.3rem;
}
